@import "../Variables/Variables.scss";

#leagues-layout-header {
  display: flex;
  flex-direction: column-reverse;
  gap: $base-padding;
  justify-content: space-between;
  padding: $base-padding 0;

  @include breakpoint-md {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    padding: $base-padding2X 0 0;
    //border-bottom: 0.1rem solid black;
  }

  h2 {
    margin: 0 auto;
  }

  nav {
    @include flex-row($base-font-size);
    font-size: $font-size-sm;
    ul {
      li {
        @include pillStyle($base-font-size, $color-green);

        .active {
          font-weight: 600;
          padding: $base-padding;
          color: $color-olive;
        }
      }
    }

    @include breakpoint-md {
      @include flex-row($base-font-size);
      font-size: 1.5rem;
    }
  }
}
