@import "./Variables/Variables.scss";

#main-header {
  background-color: $color-green;
}

#header-primary {
  display: flex;
  flex-direction: column;

  @include breakpoint-md {
    flex-direction: column;
  }

  .top-banner-admin {
    font-size: $font-size-sm;
    justify-content: center;
    color: white;
    font-weight: bold;
    display: flex;
    padding: 0 1rem;
    background-color: $color-olive;

    @include breakpoint-md {
      font-size: $font-size-sm;
      justify-content: end;
    }
  }

  #primary-navigation {
    display: flex;
    color: white;
    justify-content: space-between;
    height: 7rem;
    padding: 2rem 0 1rem;

    @include breakpoint-xl {
      justify-content: space-between;
      width: 80rem; /* 1280px */
      margin: 0 auto;
    }
  }
}

//AUTH HEADER JS
#logout-banner {
  @include flex-col($base-padding);
  align-items: center;
  justify-content: flex-end;
  padding: $base-padding 0;

  span {
    font-size: $font-size-sm;
    font-weight: 400;
  }

  button {
    @include pillStyle($font-size-sm, white);
    @include flex-row(0.5rem);
    padding: 0 $base-padding;

    &:hover {
      color: $color-olive;
    }
  }

  @include breakpoint-md {
    @include flex-row;
    justify-content: flex-end;
    background-color: transparent;
  }
}

//ADMIN NAVIGATION
#admin-primary-navigation {
  header {
    nav {
      background-color: $color-green;
      display: flex;
      justify-content: center;
      gap: 1rem;
      padding: $base-padding 1rem 0;

      @include breakpoint-md {
        font-size: $base-font-size;
        background-color: $color-green;
        display: flex;
        gap: 1rem;
        padding: 0 0;
        justify-content: flex-end;
      }

      ul {
        @include flex-row(0);

        li {
          font-size: $base-font-size;
          color: white;
          padding: 0.4rem 0.8rem;
          border-top-left-radius: $base-font-size;
          border-top-right-radius: $base-font-size;

          @include breakpoint-md {
            font-size: 1.5rem;
            padding: 0.5rem 1.65rem 0.25rem;
          }
          &:hover {
            background-color: $color-darkgreen;
          }
        }

        /* Styles for the li when its child a NavLink has the "active" class */
        li:has(a.active) {
          font-weight: 600;
          background-color: whitesmoke;
          color: $color-olive;
          text-decoration: underline;
          text-decoration-thickness: 0.15rem;
        }
      }
    }
  }

  @include breakpoint-xl {
    justify-content: space-between;
    width: 80rem; /* 1280px */
    margin: 0 auto;
  }
}

//MAIN
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 80rem; /* 1280px */
  margin: 0 auto;
}

h2 {
  @include h2;
}

h3 {
  @include h3;
}

.error {
  color: $color-error;
  font-size: $base-font-size;
  text-align: center;
}

.text-highlight {
  display: inline-block;
  background-color: $color-highlight-yellow;
}

//HIDDING ELEMENTS FROM MOBILE VIEW
.md-only {
  display: none;

  @include breakpoint-md {
    display: inline;
  }
}

//A11Y
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
